$main-color: white;
$title-shadow: 2px 2px #6ff17a;
$sub-color: #C3CBD7;
$off-color: #6ff17a;
$title-font: 'Titillium Web', sans-serif;
$sub-font:  'Titillium Web', sans-serif;
$margins: 1.5em;
$basicFontSize: 1em;
